<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetimmobill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetImmoBill">
        <activity android:name=".controleur.AdminDetailsReservationActivity"></activity>
        <activity android:name=".controleur.AdminConsultReservationActivity" />
        <activity android:name=".controleur.AdminDetailsUserActivity" />
        <activity android:name=".controleur.AdminConsultUserActivity" />
        <activity android:name=".controleur.AdminDetailsTypeVillaActivity" />
        <activity android:name=".controleur.AdminConsultTypeVillaActivity" />
        <activity android:name=".controleur.AdminNewUserActivity" />
        <activity android:name=".controleur.AdminNewTypeVillaActivity" />
        <activity android:name=".controleur.AdminDetailsLocationActivity" />
        <activity android:name=".controleur.AdminConsultLocationActivity" />
        <activity android:name=".controleur.AdminNewLocationActivity" />
        <activity android:name=".controleur.UserInfosReservationActivity" />
        <activity android:name=".controleur.UserInfosLocataireActivity" />
        <activity android:name=".controleur.UserConfirmationActivity" />
        <activity android:name=".controleur.AdminDetailsLocataireActivity" />
        <activity android:name=".controleur.AdminConsultLocatairesActivity" />
        <activity android:name=".controleur.AdminNewLocataireActivity" />
        <activity android:name=".controleur.UserConsultReservationsActivity" />
        <activity android:name=".controleur.UserNewReservationActivity" />
        <activity android:name=".controleur.ChoixUserActivity" />
        <activity android:name=".controleur.ChoixAdminActivity" />
        <activity android:name=".controleur.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>